.read-the-docs {
  color: #888;
}

.hover\:bg-light-blue:hover {
  background-color: lightblue;
}

.padding-left-05em {
  padding-left: 0.5em;
}

.padding-left-02em {
  padding-left: 0.2em;
}

.padding-left-1em {
  padding-left: 1em;
}